wandb~=0.13.7
pandas~=1.5.2
numpy~=1.23.5
matplotlib~=3.6.2
seaborn~=0.12.1
torch~=1.13.1
omegaconf~=2.3.0
timm~=0.6.12
wordcloud~=1.8.2.2
scipy~=1.9.3
ffcv~=0.0.3
tqdm~=4.64.1
sklearn~=0.0.post1
scikit-learn~=1.2.0
torchvision~=0.14.1
numba~=0.56.4
fastargs~=1.2.0